dify/02_home_control_workflow.yml
app:
  description: 家居控制子 Workflow — 解析意图 → 搜索设备 → 调用 FastAPI → 真实控制 HA
  icon: "🏠"
  icon_background: '#FEE2E2'
  mode: workflow
  name: 02 Home Control Workflow
  use_icon_as_answer_icon: false
dependencies: []
kind: app
version: 0.5.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .TXT
      allowed_file_types:
      - document
      allowed_file_upload_methods:
      - local_file
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: start
        targetType: llm
      id: start-to-parse
      source: start_node
      sourceHandle: source
      target: llm_parse
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: code
      id: parse-to-code
      source: llm_parse
      sourceHandle: source
      target: code_extract
      targetHandle: target
      type: custom
    - data:
        sourceType: code
        targetType: http-request
      id: code-to-search
      source: code_extract
      sourceHandle: source
      target: http_search
      targetHandle: target
      type: custom
    - data:
        sourceType: http-request
        targetType: code
      id: search-to-build
      source: http_search
      sourceHandle: source
      target: code_build_control
      targetHandle: target
      type: custom
    - data:
        sourceType: code
        targetType: http-request
      id: build-to-control
      source: code_build_control
      sourceHandle: source
      target: http_control
      targetHandle: target
      type: custom
    - data:
        sourceType: http-request
        targetType: llm
      id: control-to-present
      source: http_control
      sourceHandle: source
      target: llm_present
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: end
      id: present-to-end
      source: llm_present
      sourceHandle: source
      target: end_node
      targetHandle: target
      type: custom
    nodes:
    # ── 1. 开始节点 ──
    - data:
        desc: 家居控制请求输入
        selected: false
        title: 开始
        type: start
        variables:
        - label: user_id
          hide: true
          max_length: 128
          options: []
          required: false
          type: text-input
          variable: user_id
        - label: session_id
          hide: true
          max_length: 128
          options: []
          required: false
          type: text-input
          variable: session_id
        - label: query
          max_length: 1000
          options: []
          required: true
          type: text-input
          variable: query
        - label: context
          hide: true
          max_length: 2000
          options: []
          required: false
          type: text-input
          variable: context
      height: 220
      id: start_node
      position:
        x: 80
        y: 300
      positionAbsolute:
        x: 80
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242

    # ── 2. LLM 解析意图 ──
    - data:
        context:
          enabled: false
        desc: 解析控制意图为结构化 JSON
        memory:
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 5
        model:
          completion_params:
            max_tokens: 300
            temperature: 0.1
            top_p: 0.9
          mode: chat
          name: qwen3:4b
          provider: langgenius/ollama/ollama
        prompt_template:
        - id: parse-system
          role: system
          text: |
            你是智能家居控制意图解析器。将用户的自然语言指令解析为 JSON。

            可用设备列表：
            - 客厅灯（灯光，支持 turn_on / turn_off）
            - 卧室灯（灯光，支持 turn_on / turn_off）
            - 书房灯（灯光，支持 turn_on / turn_off）
            - 主卧空调（空调，支持 turn_on / turn_off）
            - 咖啡机（开关，支持 turn_on / turn_off）
            - 热水器（开关，支持 turn_on / turn_off）
            - 前门门锁（安防，支持 turn_on=锁定 / turn_off=解锁）

            只输出 JSON，格式如下：
            {
              "device_name": "客厅灯",
              "action": "turn_on",
              "confidence": 0.95
            }

            如果无法识别设备或操作，返回：
            {
              "device_name": null,
              "action": null,
              "confidence": 0,
              "error": "无法识别的指令"
            }
        - id: parse-user
          role: user
          text: "{{#start_node.query#}}"
        selected: false
        title: 意图解析
        type: llm
        variables: []
        vision:
          enabled: false
      height: 132
      id: llm_parse
      position:
        x: 380
        y: 300
      positionAbsolute:
        x: 380
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242

    # ── 3. Code 提取 JSON 字段 ──
    - data:
        code: |
          import json
          import re

          def main(llm_output: str) -> dict:
              """从 LLM 输出中提取 device_name 和 action"""
              try:
                  # 尝试提取 JSON 块
                  json_match = re.search(r'\{[^}]+\}', llm_output, re.DOTALL)
                  if json_match:
                      parsed = json.loads(json_match.group())
                  else:
                      parsed = json.loads(llm_output)

                  device_name = parsed.get("device_name", "")
                  action = parsed.get("action", "turn_on")

                  if not device_name:
                      return {"device_name": "", "action": "", "error": "无法识别设备"}

                  return {"device_name": device_name, "action": action, "error": ""}
              except Exception as e:
                  return {"device_name": "", "action": "", "error": str(e)}
        code_language: python3
        desc: 从 LLM JSON 输出中提取 device_name 和 action
        outputs:
          device_name:
            children: null
            type: string
          action:
            children: null
            type: string
          error:
            children: null
            type: string
        selected: false
        title: 提取参数
        type: code
        variables:
        - value_selector:
          - llm_parse
          - text
          variable: llm_output
      height: 54
      id: code_extract
      position:
        x: 680
        y: 300
      positionAbsolute:
        x: 680
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242

    # ── 4. HTTP 搜索设备 ──
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: ''
          type: none
        desc: 调用 FastAPI /devices/search 获取 entity_id
        headers: 'X-Agent-Key:sk-smart-home-agent-2026'
        method: get
        params: 'name:{{#code_extract.device_name#}}'
        retry_config:
          max_retries: 2
          retry_enabled: true
          retry_interval: 1000
        selected: false
        ssl_verify: false
        timeout:
          max_connect_timeout: 10
          max_read_timeout: 15
          max_write_timeout: 10
        title: 搜索设备
        type: http-request
        url: http://172.18.22.66:8000/api/v1/devices/search
        variables: []
      height: 136
      id: http_search
      position:
        x: 980
        y: 300
      positionAbsolute:
        x: 980
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242

    # ── 5. Code 构建控制请求 ──
    - data:
        code: |
          import json

          def main(search_body: str, action: str) -> dict:
              """从搜索结果提取 entity_id，构建控制 URL"""
              try:
                  data = json.loads(search_body)
                  devices = data.get("devices", [])
                  if not devices:
                      return {"entity_id": "", "control_url": "", "error": "设备未找到"}

                  device = devices[0]
                  entity_id = device.get("main_entity_id", "")
                  device_name = device.get("name", "")

                  control_url = f"http://172.18.22.66:8000/api/v1/devices/{entity_id}/control"

                  return {
                      "entity_id": entity_id,
                      "device_name": device_name,
                      "control_url": control_url,
                      "action": action,
                      "error": ""
                  }
              except Exception as e:
                  return {"entity_id": "", "control_url": "", "error": str(e)}
        code_language: python3
        desc: 从搜索结果构建控制 URL 和请求体
        outputs:
          entity_id:
            children: null
            type: string
          device_name:
            children: null
            type: string
          control_url:
            children: null
            type: string
          action:
            children: null
            type: string
          error:
            children: null
            type: string
        selected: false
        title: 构建控制请求
        type: code
        variables:
        - value_selector:
          - http_search
          - body
          variable: search_body
        - value_selector:
          - code_extract
          - action
          variable: action
      height: 54
      id: code_build_control
      position:
        x: 1280
        y: 300
      positionAbsolute:
        x: 1280
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242

    # ── 6. HTTP 控制设备 ──
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: control-body
            key: ''
            type: text
            value: '{"service":"{{#code_build_control.action#}}"}'
          type: raw-text
        desc: 调用 FastAPI /devices/{entity_id}/control 真实控制 HA
        headers: 'X-Agent-Key:sk-smart-home-agent-2026

          Content-Type:application/json'
        method: post
        params: ''
        retry_config:
          max_retries: 2
          retry_enabled: true
          retry_interval: 1000
        selected: false
        ssl_verify: false
        timeout:
          max_connect_timeout: 10
          max_read_timeout: 15
          max_write_timeout: 10
        title: 控制设备
        type: http-request
        url: '{{#code_build_control.control_url#}}'
        variables: []
      height: 136
      id: http_control
      position:
        x: 1580
        y: 300
      positionAbsolute:
        x: 1580
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242

    # ── 7. LLM 生成用户回复 ──
    - data:
        context:
          enabled: false
        desc: 将控制结果转为用户友好的回复
        memory:
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 5
        model:
          completion_params:
            max_tokens: 260
            temperature: 0.2
            top_p: 0.9
          mode: chat
          name: qwen3:4b
          provider: langgenius/ollama/ollama
        prompt_template:
        - id: present-system
          role: system
          text: |
            你是智能家居控制助手。根据设备控制的执行结果，生成简洁友好的中文回复。

            规则：
            1. 如果 success=true，回复格式："已为您{动作}{设备名} ✅"
            2. 如果失败，说明原因并建议重试
            3. 不要输出 JSON，只输出自然语言
            4. 回复要简洁，一两句话即可
        - id: present-user
          role: user
          text: |
            用户原始请求：{{#start_node.query#}}
            设备名称：{{#code_build_control.device_name#}}
            执行操作：{{#code_build_control.action#}}
            控制结果：{{#http_control.body#}}
        selected: false
        title: 生成回复
        type: llm
        variables: []
        vision:
          enabled: false
      height: 132
      id: llm_present
      position:
        x: 1880
        y: 300
      positionAbsolute:
        x: 1880
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242

    # ── 8. 输出节点 ──
    - data:
        desc: 控制结果输出
        outputs:
        - value_selector:
          - llm_present
          - text
          variable: result
        selected: false
        title: 输出
        type: end
      height: 120
      id: end_node
      position:
        x: 2180
        y: 300
      positionAbsolute:
        x: 2180
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -60
      y: -20
      zoom: 0.7
  rag_pipeline_variables: []
