dify/04_data_analysis_workflow.yml
app:
  description: 数据分析子 Workflow（第一阶段 LLM Mock，后续替换 InfluxDB/PG）
  icon: "📈"
  icon_background: '#FEF3C7'
  mode: workflow
  name: 04 Data Analysis Workflow
  use_icon_as_answer_icon: false
dependencies: []
kind: app
version: 0.5.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .CSV
      - .XLSX
      - .JSON
      - .TXT
      allowed_file_types:
      - document
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: true
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: start
        targetType: llm
      id: start-to-extract
      source: start_node
      sourceHandle: source
      target: llm_extract
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: llm
      id: extract-to-mock
      source: llm_extract
      sourceHandle: source
      target: llm_mock_data
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: llm
      id: mock-to-quality
      source: llm_mock_data
      sourceHandle: source
      target: llm_quality
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: llm
      id: quality-to-report
      source: llm_quality
      sourceHandle: source
      target: llm_report
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: llm
      id: report-to-present
      source: llm_report
      sourceHandle: source
      target: llm_present
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: end
      id: present-to-end
      source: llm_present
      sourceHandle: source
      target: end_node
      targetHandle: target
      type: custom
    nodes:
    - data:
        desc: 数据分析输入
        selected: false
        title: 开始
        type: start
        variables:
        - label: user_id
          hide: true
          max_length: 128
          options: []
          required: false
          type: text-input
          variable: user_id
        - label: session_id
          hide: true
          max_length: 128
          options: []
          required: false
          type: text-input
          variable: session_id
        - label: query
          max_length: 1000
          options: []
          required: true
          type: text-input
          variable: query
        - label: context
          hide: true
          max_length: 2000
          options: []
          required: false
          type: text-input
          variable: context
      height: 220
      id: start_node
      position:
        x: 80
        y: 300
      positionAbsolute:
        x: 80
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
        desc: 提取查询参数
        memory:
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 5
        model:
          completion_params:
            max_tokens: 220
            temperature: 0.1
            top_p: 0.9
          mode: chat
          name: qwen3-max
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: extract-system
          role: system
          text: |
            输出JSON：
            {
              "metric":"...",
              "time_range":"...",
              "group_by":"...",
              "filters":{}
            }
            只输出JSON。
        - id: extract-user
          role: user
          text: "{{#start_node.query#}}"
        selected: false
        title: 参数提取
        type: llm
        variables: []
        vision:
          enabled: false
      height: 132
      id: llm_extract
      position:
        x: 380
        y: 300
      positionAbsolute:
        x: 380
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
        desc: 生成 Mock 数据
        memory:
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 5
        model:
          completion_params:
            max_tokens: 320
            temperature: 0.1
            top_p: 0.9
          mode: chat
          name: qwen3-max
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: mock-system
          role: system
          text: |
            你是数据查询Mock节点。输出JSON：
            {
              "status":"success",
              "message":"data_query_mock_ok",
              "payload":{
                "rows":[{"time":"2026-03-01","value":128},{"time":"2026-03-02","value":132},{"time":"2026-03-03","value":125}],
                "replace_hint":"TODO_REAL_ENDPOINT"
              },
              "trace_id":"..."
            }
        - id: mock-user
          role: user
          text: "{{#llm_extract.text#}}"
        selected: false
        title: 数据Mock
        type: llm
        variables: []
        vision:
          enabled: false
      height: 132
      id: llm_mock_data
      position:
        x: 680
        y: 300
      positionAbsolute:
        x: 680
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
        desc: 评估数据完整性与异常波动
        memory:
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 5
        model:
          completion_params:
            max_tokens: 260
            temperature: 0.1
            top_p: 0.9
          mode: chat
          name: qwen3-max
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: quality-system
          role: system
          text: |
            你是数据质检节点。请从输入中输出JSON：
            {
              "quality_score":0,
              "anomaly_flags":["..."],
              "summary":"..."
            }
            仅输出JSON。
        - id: quality-user
          role: user
          text: "{{#llm_mock_data.text#}}"
        selected: false
        title: 数据质检
        type: llm
        variables: []
        vision:
          enabled: false
      height: 132
      id: llm_quality
      position:
        x: 980
        y: 140
      positionAbsolute:
        x: 980
        y: 140
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
        desc: 生成结构化分析报告
        memory:
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 5
        model:
          completion_params:
            max_tokens: 420
            temperature: 0.2
            top_p: 0.9
          mode: chat
          name: qwen3-max
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: report-system
          role: system
          text: |
            输出JSON：
            {
              "status":"success",
              "message":"data_report_ready",
              "payload":{"report":"...","insights":["..."]},
              "trace_id":"..."
            }
        - id: report-user
          role: user
          text: |
            mock_data={{#llm_mock_data.text#}}
            quality={{#llm_quality.text#}}
        selected: false
        title: 报告生成
        type: llm
        variables: []
        vision:
          enabled: false
      height: 132
      id: llm_report
      position:
        x: 980
        y: 300
      positionAbsolute:
        x: 980
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
        desc: 面向客户的高管摘要输出
        memory:
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 5
        model:
          completion_params:
            max_tokens: 260
            temperature: 0.2
            top_p: 0.9
          mode: chat
          name: qwen3-max
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: present-system
          role: system
          text: |
            你是“数据分析汇报助手”。
            把输入整理成简短高管摘要，包含：
            1) 关键结论
            2) 风险提示
            3) 建议动作
            禁止输出JSON。
        - id: present-user
          role: user
          text: "{{#llm_report.text#}}"
        selected: false
        title: 高管摘要
        type: llm
        variables: []
        vision:
          enabled: false
      height: 132
      id: llm_present
      position:
        x: 1280
        y: 300
      positionAbsolute:
        x: 1280
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        desc: 输出
        outputs:
        - value_selector:
          - llm_present
          - text
          variable: result
        selected: false
        title: 输出
        type: end
      height: 100
      id: end_node
      position:
        x: 1580
        y: 300
      positionAbsolute:
        x: 1580
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -80
      y: -20
      zoom: 0.9
  rag_pipeline_variables: []
